page-partner-admin-add {
    ion-input {
        border-bottom: 1px solid map-get($colors, primary);
        font-size: 110% ;
    }
    ion-textarea {
        border-bottom: 1px solid map-get($colors, primary);
        font-size: 110% ;
    }
    ion-item{
        ion-label{
            font-size: 110% !important ;
            font-weight: 500;
        }
    }
}
