<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-buttons end>
        <button ion-button clear icon-only (click)="close()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-item no-lines class="content">
    <h1 class="title">Add Banner</h1>
  </ion-item>



<ion-card padding>
    <ion-item no-lines>
      <h2 >*Please keep all the images of same ratios</h2>
    </ion-item>

  <ion-item  >
    <ion-label color="primary">Name</ion-label>
    <ion-input class="name" type="text" [(ngModel)]="order" autofocus ></ion-input>
  </ion-item>

  <ion-item class="select" *ngIf="!img1" >
    <ion-label color="whiter">Select Image</ion-label>
    <ion-input type="file" (change)="fileChange($event)"
     accept="image/x-png,image/gif,image/jpeg" id="file-input" style="opacity: 0"
    #fileInp (ngModel)="file1" ></ion-input>
  </ion-item>
  
  
  
  <ion-item *ngIf="img1">

    <img [src]="img1" class="imgView" />
      <div class="editBtns">
        <button class="btnTrash" ion-button color="danger" (click)="removeImage()">
          Remove
        </button>
      </div>


  </ion-item>

  <button ion-button color="danger" [disabled]="order==null||img1==null" (click)="UploadPic()">Add Banner</button>

</ion-card>
</ion-content>