<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add a Restaurant</ion-title>
        <ion-buttons end>
      <button ion-button outline (click)="close()" clear icon-only >
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-content>
      <ion-grid>
    
        <ion-row>
        <ion-item>
          <ion-label stacked color="primary" >
            <p ion-text color="danger" >*</p>
            Restaurant Name
            </ion-label>
          <ion-input type="text"  (ionChange)="capsName(Name)" autofocus [(ngModel)]="Name"></ion-input>
        </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
          <ion-label stacked color="primary">
              <p ion-text color="danger" >*</p>
              Partner Name</ion-label>
          <ion-select [(ngModel)]="Partner">
            <ion-option *ngFor="let p of partners | async " [value]="p.key">{{p.Name}} </ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
         <ion-item>
              <ion-label stacked color="primary">
                  <p ion-text color="danger" >*</p>
                  Restaurant Contact</ion-label>
              <ion-input type="number"  [(ngModel)]="RestaurantContact"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
               <ion-label stacked color="primary">
                   <p ion-text color="danger" >*</p>
                   Address</ion-label>
               <ion-input type="text"  [(ngModel)]="Address"></ion-input>
           </ion-item>
         </ion-row>

         <ion-row>
          <ion-col >
            <ion-label stacked >Profit to Loyal</ion-label>
          <ion-item>
            <ion-checkbox [(ngModel)]="LoyalProfit"></ion-checkbox>
          </ion-item>
          </ion-col>
          <ion-col  *ngIf="LoyalProfit" >
          <ion-item>
            <ion-label stacked >Percentage</ion-label>
            <ion-input type="number" [(ngModel)]="ProfitToLoyalPercentage" ></ion-input>
          </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
        <ion-item>
          <ion-label stacked >Minimum Visits for Loyalty</ion-label>
          <ion-input type="number" [(ngModel)]="VisitsL" ></ion-input>
        </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label stacked color="primary">Description</ion-label>
            <ion-textarea [(ngModel)]="Description"></ion-textarea>
          </ion-item>
        </ion-row>

         <ion-row>
          <button ion-button color="primary" block  (click)="checkData()" >Add Restaurant</button>
        </ion-row>
      
        
      </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
