page-view-menu {


ion-input {
        border-bottom: 1px solid map-get($colors, primary);
        font-size: 110% ;
    }
    ion-select {
        border-bottom: 1px solid map-get($colors, primary);
        font-size: 110% ;
    }
.listi{
    border-bottom: black 1px solid;
}
.maBtn{
    float: right;
}

}
